<div class="container-fluid">
	<div class="row">
		<div class="col-sm-12">
			<h1>Swift Message to Blockchain Transaction Showcase</h1>
			<p>This is a demo front-end app to showcase how we can convert a
				Swift Message to a Blockchain Transaction.</p>
			<ul>
				<li>Send Swift Transaction - to submit a message (swift
					message)</li>
				<li>Get All Transaction - to load transaction and decode</li>
			</ul>
		</div>
	</div>
</div>
<nav class="navbar navbar-default">
	<div class="container-fluid">
		<!-- Brand and toggle get grouped for better mobile display -->
		<div class="navbar-header">
			<button type="button" [routerLink]="['/sendnem']"
				class="btn btn-outline-primary">Send Swift Message</button>
			<button type="button" [routerLink]="['/transaction']"
				class="btn btn-outline-primary">All Transaction</button>
		</div>
	</div>
</nav>
<div class="container-fluid">
	<div class="row">
		<div class="col-12">
			<router-outlet></router-outlet>
		</div>
	</div>
</div>


