
<div class="form-group">
	<input type="text" class="form-control" [(ngModel)]="address" placeholder="Address">
</div>
<button type="submit" class="btn btn-default" (click)="getTransaction()">Get Transaction Messages</button>
<div class="panel panel-default">
  <!-- Default panel contents -->
  <br/>

  <!-- Table -->
  <table class="table">
    <tr>
    	<th>Amount</th>
    	<th>Message</th>
    	<th>Date</th>
    	<th>Action</th>
    </tr>
        <tr *ngFor="let trans of transactions">
    	<td>{{trans.amount}}</td>
    	<td>{{trans.message.payload.substr(0,10)}}</td>
    	<td>{{trans.timeWindow.timeStamp}}</td>
    	<td><button class="btn btn-secondary" (click)="encodeUngzip(trans)" value="Decode">Decode</button></td>
    </tr>
  </table>
</div>
